.image{
    width: 206px;
    height: 206px;
    position: absolute;
    margin-top: -15rem;
}

.img{
    display: flex;
    justify-content: center;
}

.container{
    background-color: rgb(95, 3, 3);
}

.login-wrap{
    margin:auto;
    margin-top: 200px;
    width:650px;
    height:425px;
    position: relative;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 25px 0 rgba(0,0,0,.19);
  }

.login-html{
    width:100%;
    height:100%;
    position: absolute;
    padding:140px 50px 50px 50px;
    background:white;
  }

.padding{
    padding-top: 140px;
}

.group{
    display: flex;
    justify-content: space-between;
}

#heading{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 24px;
    line-height: 0px;
    margin: 0%;
    padding: 0%;
}

#foot-lnk{
  color: red;
  font-weight: 900;
  font-size: 20px;

}

.label{
  font-size: 18px;
}

#username,#password{
  padding-top: 6px;
  padding-bottom: 6px;
}

